<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
<link rel='stylesheet' href='https://fullcalendar.io/releases/core/4.2.0/main.min.css'>
<link rel='stylesheet' href='https://fullcalendar.io/releases/daygrid/4.2.0/main.min.css'>
<link rel='stylesheet' href='https://fullcalendar.io/releases/timegrid/4.2.0/main.min.css'>
<link rel='stylesheet' href='https://fullcalendar.io/releases/list/4.2.0/main.min.css'>
  
 <div id="fullcalendar"></div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js'></script>
<script src='https://fullcalendar.io/releases/core/4.2.0/main.min.js'></script>
<script src='https://fullcalendar.io/releases/daygrid/4.2.0/main.min.js'></script>
<script src='https://fullcalendar.io/releases/timegrid/4.2.0/main.min.js'></script>
<script src='https://fullcalendar.io/releases/list/4.2.0/main.min.js'></script>
      <script id="rendered-js" >
"use strict";

function dtToStr(dt, add_days=0) {
  let d = new Date(Date.parse(dt));
  d.setDate(d.getDate() + add_days);
  let st = d.toISOString();
  return st.slice(0,-2);
}

function getMinMaxDate(fixedDate) {
    const today = new Date();
    const fixed = new Date(fixedDate);

    // Get the maximum (latest) date
    const maxDate = today > fixed ? today : fixed;

    // Format to YYYY-MM-DD
    return maxDate.toISOString().split('T')[0];
}

var events = [
    {
        daysOfWeek: [0, 6],
        rendering: "background",
        color: "#eee",
        overLap: false,
        allDay: true
    },

{{ range where  (sort .Site.Pages "LinkTitle") ".Params.tags" "in" "workshop" }}
    { 
      title: '{{ .Title }}',
      start: dtToStr("{{ .Params.begin }} 2025 10:00:00 UTC+0200"),  
      end: dtToStr("{{ .Params.end }} 2025 23:00:00  UTC+0200", 1),
      allDay: true,
      // extendedProps: {
      //   department: 'BioChemistry'
      // },
      description: 'workshop',
      color: '#dc1828',
      url: {{ .Permalink }}
     },
{{ end }}

{{ range where  (sort .Site.Pages "LinkTitle") ".Params.tags" "in" "a_s_w" }}
    { 
      title: '{{ .Params.speaker }}',
      start: dtToStr("{{ .Params.begin }} UTC+0000"),  
      end: dtToStr("{{ .Params.end }} UTC+0000", 1),
      allDay: false,
      description: '{{ .Title }}',
      color: '#dc1828',
      url: {{ .Permalink }}
     },
{{ end }}

{{ range where  (sort .Site.Pages "LinkTitle") ".Params.tags" "in" "course" }}
    {{ if in .Params.begin "TBA" }}
    {{ else }}
    { 
      title: 'Course by {{ .Params.author }}',
      start: dtToStr("{{ .Params.begin }} 2025 10:00:00 UTC+0200"),  
      end: dtToStr("{{ .Params.end }} 2025 23:00:00  UTC+0200", 1),
      allDay: true,
      // extendedProps: {
      //   department: 'BioChemistry'
      // },
      description: 'Lecture',
      color: '#404060',
      url: {{ .Permalink }}
     },
     {{end}}
{{ end }}


];



$(function () {
    var calendarEl = document.getElementById("fullcalendar");
    var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: ["dayGrid", "timeGrid", "list", "interaction"],
        timeZone: "UTC+2",
        themeSystem: "standard",
        eventOrder: "start,title,-duration",
        header: {
            //left: 'prevYear,prev, today next,nextYear',
            left: "prev,next, today",
            center: "title",
            // right: 'dayGridMonth,timeGridWeek,listMonth'
            right: 'dayGridMonth,listMonth'
            // right: "dayGridMonth,listYear"
        },
        defaultDate: getMinMaxDate("2025-04-01"),
        defaultView: "dayGridMonth",
        firstDay: 1,
        // weekNumbers: true,
        eventLimit: false,
        //events: 'https://fullcalendar.io/demo-events.json',
        events: events,
        //editable: true,
        droppable: true,
        eventResizableFromStart: true,
        eventResizableFromEnd: true,
        eventDurationEditable: true,
        eventRender: function (info) {
            if (info.view.type === "listMonth") {
                return;
            }
            let eventEl = info.el.querySelector(".fc-content");
            let eventID = info.event.extendedProps.issueKey;
            if (!eventID || !eventEl)
                return;
            let link = document.createElement("a");
            link.innerHTML = eventID;
            link.title = "Open in Jira";
            link.href = "https://jira.dummyurl.com/browse/" + eventID;
            link.classList.add("float-right");
            eventEl.appendChild(link);
        }
    });
    calendar.render();
});
//# sourceURL=pen.js
    </script>
<div id="fullcalendar"></div>
