<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
<link rel='stylesheet' href='https://fullcalendar.io/releases/core/4.2.0/main.min.css'>
<link rel='stylesheet' href='https://fullcalendar.io/releases/daygrid/4.2.0/main.min.css'>
<link rel='stylesheet' href='https://fullcalendar.io/releases/timegrid/4.2.0/main.min.css'>
<link rel='stylesheet' href='https://fullcalendar.io/releases/list/4.2.0/main.min.css'>
  
 <div id="fullcalendar"></div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js'></script>
<script src='https://fullcalendar.io/releases/core/4.2.0/main.min.js'></script>
<script src='https://fullcalendar.io/releases/daygrid/4.2.0/main.min.js'></script>
<script src='https://fullcalendar.io/releases/timegrid/4.2.0/main.min.js'></script>
<script src='https://fullcalendar.io/releases/list/4.2.0/main.min.js'></script>
      <script id="rendered-js" >
"use strict";

function strToDT(dt, add_days=0) {
  let d = new Date(Date.parse(dt));
  d.setDate(d.getDate() + add_days);
  return d
}

function getMinMaxDate(fixedDate) {
    const today = new Date();
    const fixed = new Date(fixedDate);

    // Get the maximum (latest) date
    const maxDate = today > fixed ? today : fixed;

    // Format to YYYY-MM-DD
    return maxDate.toISOString().split('T')[0];
}

var events = [
    {
        daysOfWeek: [0, 6],
        rendering: "background",
        color: "#eee",
        overLap: false,
        allDay: false
    },

    // >>>>>>>>>>>>>>>>>>>>>> FOR1

{{ range where  (sort .Site.Pages "LinkTitle") ".Params.tags" "in" "workshop" }}
    { 
      title: '{{ .Title }}',
      start: strToDT("{{ .Params.begin }} 2025 10:00:00"),  
      end: strToDT("{{ .Params.end }} 2025 23:00:00", 1),
      allDay: true,
      description: 'workshop',
      color: '#2F3C7E',
      url: {{ .Permalink }}
     },
{{ end }}
    // <<<<<<<<<<<<<<<<<<<<<< FOR1

    // >>>>>>>>>>>>>>>>>>>>>> FOR2
{{ range where  (sort .Site.Pages "LinkTitle") ".Params.tags" "in" "a_s_w" }}
    { 
      {{ if in .Params.speaker "**" }}
      title: '<strong>{{ .Params.calendar_speaker}}</strong>',
      {{ else }}
      title: '{{ .Params.speaker }}',
      {{ end }}
      start: strToDT("{{ .Params.begin }}"),  
      end: strToDT("{{ .Params.end }}", 0),
      allDay: false,
      description: '{{ .Title }}',
      color: '#2F3C7E',
      url: {{ .Permalink }}
     },
{{ end }}

    // <<<<<<<<<<<<<<<<<<<<<< FOR2

    // >>>>>>>>>>>>>>>>>>>>>> FOR3


    // <<<<<<<<<<<<<<<<<<<<<< FOR3

    // >>>>>>>>>>>>>>>>>>>>>> FOR4

            { 
              title: 'Maspero',
              start: strToDT("2025/06/10  09:00:00", 0),  
              end: strToDT("2025/06/10  10:30:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/maspero'
             },
            
            { 
              title: 'Maspero',
              start: strToDT("2025/06/11  09:00:00", 0),  
              end: strToDT("2025/06/11  10:30:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/maspero'
             },
            
            { 
              title: 'Maspero',
              start: strToDT("2025/06/12  09:00:00", 0),  
              end: strToDT("2025/06/12  10:30:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/maspero'
             },
            
            { 
              title: 'Maspero',
              start: strToDT("2025/06/13  09:00:00", 0),  
              end: strToDT("2025/06/13  10:30:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/maspero'
             },
            
            { 
              title: 'Giuliani',
              start: strToDT("2025/04/28  16:15:00", 0),  
              end: strToDT("2025/04/28  17:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/giuliani'
             },
            
            { 
              title: 'Giuliani',
              start: strToDT("2025/04/29  16:15:00", 0),  
              end: strToDT("2025/04/29  17:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/giuliani'
             },
            
            { 
              title: 'Giuliani',
              start: strToDT("2025/04/30  10:45:00", 0),  
              end: strToDT("2025/04/30  12:15:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/giuliani'
             },
            
            { 
              title: 'Giuliani',
              start: strToDT("2025/04/30  14:15:00", 0),  
              end: strToDT("2025/04/30  15:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/giuliani'
             },
            
            { 
              title: 'Giuliani',
              start: strToDT("2025/04/30  17:00:00", 0),  
              end: strToDT("2025/04/30  18:00:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/giuliani'
             },
            
            { 
              title: 'Kiselev',
              start: strToDT("2025/06/16  10:45:00", 0),  
              end: strToDT("2025/06/16  12:15:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/kiselev'
             },
            
            { 
              title: 'Kiselev',
              start: strToDT("2025/06/18  14:15:00", 0),  
              end: strToDT("2025/06/18  15:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/kiselev'
             },
            
            { 
              title: 'Kiselev',
              start: strToDT("2025/06/17  10:45:00", 0),  
              end: strToDT("2025/06/17  12:15:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/kiselev'
             },
            
            { 
              title: 'Kiselev',
              start: strToDT("2025/06/19  10:45:00", 0),  
              end: strToDT("2025/06/19  12:15:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/kiselev'
             },
            
            { 
              title: 'Nouy',
              start: strToDT("2025/06/03  09:00:00", 0),  
              end: strToDT("2025/06/03  10:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/nouy'
             },
            
            { 
              title: 'Nouy',
              start: strToDT("2025/06/03  10:45:00", 0),  
              end: strToDT("2025/06/03  12:15:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/nouy'
             },
            
            { 
              title: 'Nouy',
              start: strToDT("2025/06/04  14:15:00", 0),  
              end: strToDT("2025/06/04  15:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/nouy'
             },
            
            { 
              title: 'Nouy',
              start: strToDT("2025/06/04  16:15:00", 0),  
              end: strToDT("2025/06/04  17:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/nouy'
             },
            
            { 
              title: 'Peherstorfer',
              start: strToDT("2025/05/15  14:15:00", 0),  
              end: strToDT("2025/05/15  15:30:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/peherstorfer'
             },
            
            { 
              title: 'Peherstorfer',
              start: strToDT("2025/05/15  15:45:00", 0),  
              end: strToDT("2025/05/15  16:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/peherstorfer'
             },
            
            { 
              title: 'Peherstorfer',
              start: strToDT("2025/05/16  09:00:00", 0),  
              end: strToDT("2025/05/16  10:30:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/peherstorfer'
             },
            
            { 
              title: 'Peherstorfer',
              start: strToDT("2025/05/16  14:15:00", 0),  
              end: strToDT("2025/05/16  15:30:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/peherstorfer'
             },
            
            { 
              title: 'Peherstorfer',
              start: strToDT("2025/05/16  15:45:00", 0),  
              end: strToDT("2025/05/16  16:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/peherstorfer'
             },
            
            { 
              title: 'Lubich',
              start: strToDT("2025/04/28  09:00:00", 0),  
              end: strToDT("2025/04/28  10:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/lubich'
             },
            
            { 
              title: 'Lubich',
              start: strToDT("2025/04/28  14:15:00", 0),  
              end: strToDT("2025/04/28  15:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/lubich'
             },
            
            { 
              title: 'Lubich',
              start: strToDT("2025/04/29  09:00:00", 0),  
              end: strToDT("2025/04/29  10:30:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/lubich'
             },
            
            { 
              title: 'Lubich',
              start: strToDT("2025/04/30  09:00:00", 0),  
              end: strToDT("2025/04/30  10:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/lubich'
             },
            
            { 
              title: 'Lubich',
              start: strToDT("2025/04/30  14:00:00", 0),  
              end: strToDT("2025/04/30  15:00:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/lubich'
             },
            
            { 
              title: 'Muratov',
              start: strToDT("2025/05/26  10:45:00", 0),  
              end: strToDT("2025/05/26  12:15:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/muratov'
             },
            
            { 
              title: 'Muratov',
              start: strToDT("2025/05/27  14:15:00", 0),  
              end: strToDT("2025/05/27  15:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/muratov'
             },
            
            { 
              title: 'Muratov',
              start: strToDT("2025/05/28  10:45:00", 0),  
              end: strToDT("2025/05/28  12:15:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/muratov'
             },
            
            { 
              title: 'Muratov',
              start: strToDT("2025/05/29  09:00:00", 0),  
              end: strToDT("2025/05/29  10:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/muratov'
             },
            
            { 
              title: 'Poloni',
              start: strToDT("2025/05/26  14:15:00", 0),  
              end: strToDT("2025/05/26  15:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/poloni'
             },
            
            { 
              title: 'Poloni',
              start: strToDT("2025/05/27  09:00:00", 0),  
              end: strToDT("2025/05/27  10:30:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/poloni'
             },
            
            { 
              title: 'Poloni',
              start: strToDT("2025/05/28  14:15:00", 0),  
              end: strToDT("2025/05/28  15:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/poloni'
             },
            
            { 
              title: 'Poloni',
              start: strToDT("2025/05/29  10:45:00", 0),  
              end: strToDT("2025/05/29  12:15:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/poloni'
             },
            
            { 
              title: 'Otto',
              start: strToDT("2025/06/24  09:00:00", 0),  
              end: strToDT("2025/06/24  10:30:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/otto'
             },
            
            { 
              title: 'Otto',
              start: strToDT("2025/06/25  09:00:00", 0),  
              end: strToDT("2025/06/25  10:30:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/otto'
             },
            
            { 
              title: 'Otto',
              start: strToDT("2025/06/26  09:00:00", 0),  
              end: strToDT("2025/06/26  10:30:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/otto'
             },
            
            { 
              title: 'Otto',
              start: strToDT("2025/06/27  09:00:00", 0),  
              end: strToDT("2025/06/27  10:30:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/otto'
             },
            
            { 
              title: 'Graf',
              start: strToDT("2025/06/03  14:15:00", 0),  
              end: strToDT("2025/06/03  15:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/graf'
             },
            
            { 
              title: 'Graf',
              start: strToDT("2025/06/05  14:15:00", 0),  
              end: strToDT("2025/06/05  15:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/graf'
             },
            
            { 
              title: 'Graf',
              start: strToDT("2025/06/06  09:00:00", 0),  
              end: strToDT("2025/06/06  10:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/graf'
             },
            
            { 
              title: 'Graf',
              start: strToDT("2025/06/06  14:00:00", 0),  
              end: strToDT("2025/06/06  15:30:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/graf'
             },
            
            { 
              title: 'Bedrossian',
              start: strToDT("2025/06/16  16:15:00", 0),  
              end: strToDT("2025/06/16  17:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/bedrossian'
             },
            
            { 
              title: 'Bedrossian',
              start: strToDT("2025/06/17  16:15:00", 0),  
              end: strToDT("2025/06/17  17:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/bedrossian'
             },
            
            { 
              title: 'Bedrossian',
              start: strToDT("2025/06/18  16:15:00", 0),  
              end: strToDT("2025/06/18  17:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/bedrossian'
             },
            
            { 
              title: 'Bedrossian',
              start: strToDT("2025/06/20  16:15:00", 0),  
              end: strToDT("2025/06/20  17:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/bedrossian'
             },
            
            { 
              title: 'Gomez-Serrano',
              start: strToDT("2025/06/09  14:15:00", 0),  
              end: strToDT("2025/06/09  15:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/gomez_serrano'
             },
            
            { 
              title: 'Gomez-Serrano',
              start: strToDT("2025/06/10  10:45:00", 0),  
              end: strToDT("2025/06/10  12:15:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/gomez_serrano'
             },
            
            { 
              title: 'Gomez-Serrano',
              start: strToDT("2025/06/12  10:45:00", 0),  
              end: strToDT("2025/06/12  12:15:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/gomez_serrano'
             },
            
            { 
              title: 'Gomez-Serrano',
              start: strToDT("2025/06/11  16:15:00", 0),  
              end: strToDT("2025/06/11  17:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/gomez_serrano'
             },
            
            { 
              title: 'Ryzhik',
              start: strToDT("2025/06/10  16:15:00", 0),  
              end: strToDT("2025/06/10  17:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/ryzhik'
             },
            
            { 
              title: 'Ryzhik',
              start: strToDT("2025/06/11  10:45:00", 0),  
              end: strToDT("2025/06/11  12:15:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/ryzhik'
             },
            
            { 
              title: 'Ryzhik',
              start: strToDT("2025/06/12  16:15:00", 0),  
              end: strToDT("2025/06/12  17:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/ryzhik'
             },
            
            { 
              title: 'Ryzhik',
              start: strToDT("2025/06/13  10:45:00", 0),  
              end: strToDT("2025/06/13  12:15:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/ryzhik'
             },
            
            { 
              title: 'Rodrigues',
              start: strToDT("2025/04/14  14:15:00", 0),  
              end: strToDT("2025/04/14  15:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/rodrigues'
             },
            
            { 
              title: 'Rodrigues',
              start: strToDT("2025/04/15  10:45:00", 0),  
              end: strToDT("2025/04/15  12:15:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/rodrigues'
             },
            
            { 
              title: 'Rodrigues',
              start: strToDT("2025/04/16  09:00:00", 0),  
              end: strToDT("2025/04/16  10:30:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/rodrigues'
             },
            
            { 
              title: 'Rodrigues',
              start: strToDT("2025/04/17  14:15:00", 0),  
              end: strToDT("2025/04/17  15:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/rodrigues'
             },
            
            { 
              title: 'Rodrigues',
              start: strToDT("2025/04/17  17:00:00", 0),  
              end: strToDT("2025/04/17  18:00:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/rodrigues'
             },
            
            { 
              title: 'Sasada',
              start: strToDT("2025/04/14  09:00:00", 0),  
              end: strToDT("2025/04/14  10:30:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/sasada'
             },
            
            { 
              title: 'Sasada',
              start: strToDT("2025/04/15  14:15:00", 0),  
              end: strToDT("2025/04/15  15:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/sasada'
             },
            
            { 
              title: 'Sasada',
              start: strToDT("2025/04/16  10:45:00", 0),  
              end: strToDT("2025/04/16  12:15:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/sasada'
             },
            
            { 
              title: 'Sasada',
              start: strToDT("2025/04/17  09:00:00", 0),  
              end: strToDT("2025/04/17  10:30:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/sasada'
             },
            
            { 
              title: 'Sasada',
              start: strToDT("2025/04/17  14:00:00", 0),  
              end: strToDT("2025/04/17  15:00:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/sasada'
             },
            
            { 
              title: 'Cicalese',
              start: strToDT("2025/06/23  10:45:00", 0),  
              end: strToDT("2025/06/23  12:15:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/cicalese'
             },
            
            { 
              title: 'Cicalese',
              start: strToDT("2025/06/23  14:15:00", 0),  
              end: strToDT("2025/06/23  16:15:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/cicalese'
             },
            
            { 
              title: 'Cicalese',
              start: strToDT("2025/06/25  10:45:00", 0),  
              end: strToDT("2025/06/25  12:15:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/cicalese'
             },
            
            { 
              title: 'Cicalese',
              start: strToDT("2025/06/27  10:45:00", 0),  
              end: strToDT("2025/06/27  12:15:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/cicalese'
             },
            
            { 
              title: 'Gubinelli',
              start: strToDT("2025/05/13  14:15:00", 0),  
              end: strToDT("2025/05/13  15:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/gubinelli'
             },
            
            { 
              title: 'Gubinelli',
              start: strToDT("2025/05/14  16:15:00", 0),  
              end: strToDT("2025/05/14  17:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/gubinelli'
             },
            
            { 
              title: 'Gubinelli',
              start: strToDT("2025/05/15  10:45:00", 0),  
              end: strToDT("2025/05/15  12:15:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/gubinelli'
             },
            
            { 
              title: 'Gubinelli',
              start: strToDT("2025/05/16  10:45:00", 0),  
              end: strToDT("2025/05/16  12:15:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/gubinelli'
             },
            
            { 
              title: 'Gubinelli',
              start: strToDT("2025/05/16  14:00:00", 0),  
              end: strToDT("2025/05/16  15:00:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/gubinelli'
             },
            
            { 
              title: 'Blondel',
              start: strToDT("2025/04/28  10:45:00", 0),  
              end: strToDT("2025/04/28  12:15:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/blondel'
             },
            
            { 
              title: 'Blondel',
              start: strToDT("2025/04/29  10:45:00", 0),  
              end: strToDT("2025/04/29  12:15:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/blondel'
             },
            
            { 
              title: 'Blondel',
              start: strToDT("2025/04/29  14:15:00", 0),  
              end: strToDT("2025/04/29  15:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/blondel'
             },
            
            { 
              title: 'Blondel',
              start: strToDT("2025/04/30  16:15:00", 0),  
              end: strToDT("2025/04/30  17:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/blondel'
             },
            
            { 
              title: 'Blondel',
              start: strToDT("2025/04/30  14:00:00", 0),  
              end: strToDT("2025/04/30  15:00:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/blondel'
             },
            
            { 
              title: 'Gallay',
              start: strToDT("2025/04/14  10:45:00", 0),  
              end: strToDT("2025/04/14  12:15:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/gallay'
             },
            
            { 
              title: 'Gallay',
              start: strToDT("2025/04/15  09:00:00", 0),  
              end: strToDT("2025/04/15  10:30:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/gallay'
             },
            
            { 
              title: 'Gallay',
              start: strToDT("2025/04/17  10:45:00", 0),  
              end: strToDT("2025/04/17  12:15:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/gallay'
             },
            
            { 
              title: 'Gallay',
              start: strToDT("2025/04/16  14:15:00", 0),  
              end: strToDT("2025/04/16  15:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/gallay'
             },
            
            { 
              title: 'Gallay',
              start: strToDT("2025/04/16  17:00:00", 0),  
              end: strToDT("2025/04/16  18:00:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/gallay'
             },
            
            { 
              title: 'Michiels',
              start: strToDT("2025/05/26  09:00:00", 0),  
              end: strToDT("2025/05/26  10:30:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/michiels'
             },
            
            { 
              title: 'Michiels',
              start: strToDT("2025/05/27  10:45:00", 0),  
              end: strToDT("2025/05/27  12:15:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/michiels'
             },
            
            { 
              title: 'Michiels',
              start: strToDT("2025/05/28  09:00:00", 0),  
              end: strToDT("2025/05/28  10:30:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/michiels'
             },
            
            { 
              title: 'Michiels',
              start: strToDT("2025/05/29  14:15:00", 0),  
              end: strToDT("2025/05/29  15:45:00", 0),  
              allDay: false,
              description: 'Lecture',
              color: '#990011',
              url: '/michiels'
             },
            
            { 
              title: 'Coffee Break',
              start: strToDT("2025/04/15  15:45:00", 0),  
              // end: strToDT("2025/04/15  16:15:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee Break',
              start: strToDT("2025/06/24  15:45:00", 0),  
              // end: strToDT("2025/06/24  16:15:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee Break',
              start: strToDT("2025/04/29  15:45:00", 0),  
              // end: strToDT("2025/04/29  16:15:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee Break',
              start: strToDT("2025/05/13  15:45:00", 0),  
              // end: strToDT("2025/05/13  16:15:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee Break',
              start: strToDT("2025/05/27  15:45:00", 0),  
              // end: strToDT("2025/05/27  16:15:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee Break',
              start: strToDT("2025/06/03  15:45:00", 0),  
              // end: strToDT("2025/06/03  16:15:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee Break',
              start: strToDT("2025/06/10  15:45:00", 0),  
              // end: strToDT("2025/06/10  16:15:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Registration',
              start: strToDT("2025/03/31  08:45:00", 0),  
              // end: strToDT("2025/03/31  09:15:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Opening',
              start: strToDT("2025/03/31  09:15:00", 0),  
              // end: strToDT("2025/03/31  09:30:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee Break',
              start: strToDT("2025/03/31  10:30:00", 0),  
              // end: strToDT("2025/03/31  11:00:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Lunch',
              start: strToDT("2025/03/31  12:00:00", 0),  
              // end: strToDT("2025/03/31  14:30:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee Break',
              start: strToDT("2025/03/31  15:30:00", 0),  
              // end: strToDT("2025/03/31  16:00:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee Break',
              start: strToDT("2025/04/01  10:30:00", 0),  
              // end: strToDT("2025/04/01  11:00:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Lunch',
              start: strToDT("2025/04/01  12:00:00", 0),  
              // end: strToDT("2025/04/01  14:30:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffe Break',
              start: strToDT("2025/04/01  15:30:00", 0),  
              // end: strToDT("2025/04/01  16:00:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee Break',
              start: strToDT("2025/04/02  10:30:00", 0),  
              // end: strToDT("2025/04/02  11:00:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Lunch',
              start: strToDT("2025/04/02  12:00:00", 0),  
              // end: strToDT("2025/04/02  14:00:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Social Dinner',
              start: strToDT("2025/04/02  19:30:00", 0),  
              // end: strToDT("2025/04/02  21:30:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee Break',
              start: strToDT("2025/04/03  10:30:00", 0),  
              // end: strToDT("2025/04/03  11:00:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Lunch',
              start: strToDT("2025/04/03  12:00:00", 0),  
              // end: strToDT("2025/04/03  14:30:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee Break',
              start: strToDT("2025/04/03  15:30:00", 0),  
              // end: strToDT("2025/04/03  16:00:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee Break',
              start: strToDT("2025/04/04  10:00:00", 0),  
              // end: strToDT("2025/04/04  10:30:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Registration and Opening',
              start: strToDT("2025/04/07  08:45:00", 0),  
              // end: strToDT("2025/04/07  09:30:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee Break',
              start: strToDT("2025/04/07  10:30:00", 0),  
              // end: strToDT("2025/04/07  11:00:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee Break',
              start: strToDT("2025/04/07  15:30:00", 0),  
              // end: strToDT("2025/04/07  16:00:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee Break',
              start: strToDT("2025/04/08  10:30:00", 0),  
              // end: strToDT("2025/04/08  11:00:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee Break',
              start: strToDT("2025/04/08  15:30:00", 0),  
              // end: strToDT("2025/04/08  16:00:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee Break',
              start: strToDT("2025/04/09  10:30:00", 0),  
              // end: strToDT("2025/04/09  11:00:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Social Dinner',
              start: strToDT("2025/04/09  19:30:00", 0),  
              // end: strToDT("2025/04/09  21:30:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee Break',
              start: strToDT("2025/04/10  10:30:00", 0),  
              // end: strToDT("2025/04/10  11:00:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee Break',
              start: strToDT("2025/04/10  15:30:00", 0),  
              // end: strToDT("2025/04/10  16:00:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffe Break',
              start: strToDT("2025/04/11  10:00:00", 0),  
              // end: strToDT("2025/04/11  10:30:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Registration',
              start: strToDT("2025/05/05  08:30:00", 0),  
              // end: strToDT("2025/05/05  09:10:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Opening',
              start: strToDT("2025/05/05  09:10:00", 0),  
              // end: strToDT("2025/05/05  09:30:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee break',
              start: strToDT("2025/05/05  10:30:00", 0),  
              // end: strToDT("2025/05/05  11:00:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Lunch break',
              start: strToDT("2025/05/05  12:00:00", 0),  
              // end: strToDT("2025/05/05  14:30:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee break',
              start: strToDT("2025/05/05  15:30:00", 0),  
              // end: strToDT("2025/05/05  16:00:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee break',
              start: strToDT("2025/05/06  10:30:00", 0),  
              // end: strToDT("2025/05/06  11:00:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Lunch break',
              start: strToDT("2025/05/06  12:00:00", 0),  
              // end: strToDT("2025/05/06  14:30:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee break',
              start: strToDT("2025/05/06  15:30:00", 0),  
              // end: strToDT("2025/05/06  15:50:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Special session in memory of Errico Presutti',
              start: strToDT("2025/05/06  17:00:00", 0),  
              // end: strToDT("2025/05/06  18:00:00", 0),  
              allDay: false,
              description: '',
              color: '#2F3C7E',
              url: ''
             },
            
            { 
              title: 'Aperitif',
              start: strToDT("2025/05/06  18:00:00", 0),  
              // end: strToDT("2025/05/06  19:00:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee break',
              start: strToDT("2025/05/07  10:00:00", 0),  
              // end: strToDT("2025/05/07  10:20:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Lunch break',
              start: strToDT("2025/05/07  12:00:00", 0),  
              // end: strToDT("2025/05/07  14:00:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Social event',
              start: strToDT("2025/05/07  14:00:00", 0),  
              // end: strToDT("2025/05/07  18:00:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Social dinner',
              start: strToDT("2025/05/07  20:00:00", 0),  
              // end: strToDT("2025/05/07  23:00:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee break',
              start: strToDT("2025/05/08  10:00:00", 0),  
              // end: strToDT("2025/05/08  10:20:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Lunch break',
              start: strToDT("2025/05/08  12:00:00", 0),  
              // end: strToDT("2025/05/08  14:30:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee break',
              start: strToDT("2025/05/08  15:30:00", 0),  
              // end: strToDT("2025/05/08  16:00:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Discussion & Conclusion',
              start: strToDT("2025/05/09  09:30:00", 0),  
              // end: strToDT("2025/05/09  12:00:00", 0),  
              allDay: false,
              description: '',
              color: '#2F3C7E',
              url: ''
             },
            
            { 
              title: 'Welcome',
              start: strToDT("2025/05/19  08:20:00", 0),  
              // end: strToDT("2025/05/19  08:30:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee',
              start: strToDT("2025/05/19  10:10:00", 0),  
              // end: strToDT("2025/05/19  10:35:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Lunch',
              start: strToDT("2025/05/19  12:15:00", 0),  
              // end: strToDT("2025/05/19  13:45:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee',
              start: strToDT("2025/05/20  10:10:00", 0),  
              // end: strToDT("2025/05/20  10:35:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Lunch',
              start: strToDT("2025/05/20  12:15:00", 0),  
              // end: strToDT("2025/05/20  13:45:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee',
              start: strToDT("2025/05/20  15:25:00", 0),  
              // end: strToDT("2025/05/20  15:50:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee',
              start: strToDT("2025/05/21  10:10:00", 0),  
              // end: strToDT("2025/05/21  10:35:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Lunch',
              start: strToDT("2025/05/21  12:50:00", 0),  
              // end: strToDT("2025/05/21  14:00:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee',
              start: strToDT("2025/05/22  10:10:00", 0),  
              // end: strToDT("2025/05/22  10:35:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Lunch',
              start: strToDT("2025/05/22  11:50:00", 0),  
              // end: strToDT("2025/05/22  13:15:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee',
              start: strToDT("2025/05/21  15:25:00", 0),  
              // end: strToDT("2025/05/21  15:50:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Coffee',
              start: strToDT("2025/05/23  10:40:00", 0),  
              // end: strToDT("2025/05/23  11:05:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
            { 
              title: 'Farewell',
              start: strToDT("2025/05/23  12:45:00", 0),  
              // end: strToDT("2025/05/23  12:50:00", 0),  
              allDay: false,
              description: '',
              color: '#2C5F2D',
              url: ''
             },
            
    // <<<<<<<<<<<<<<<<<<<<<< FOR4
];



$(function () {
    var calendarEl = document.getElementById("fullcalendar");
    var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: ["dayGrid", "timeGrid", "list", "interaction"],
        // timeZone: "UTC-2",
        themeSystem: "standard",
        eventOrder: "start,title,-duration",
        header: {
            //left: 'prevYear,prev, today next,nextYear',
            left: "prev,next, today",
            center: "title",
            // right: 'dayGridMonth,timeGridWeek,listMonth'
            right: 'dayGridMonth,listMonth'
            // right: "dayGridMonth,listYear"
        },
        defaultDate: getMinMaxDate("2025-04-01"),
        defaultView: "dayGridMonth",
        firstDay: 1,
        // weekNumbers: true,
        eventLimit: false,
        displayEventEnd: true,
        //events: 'https://fullcalendar.io/demo-events.json',
        events: events,
         eventTimeFormat: {
            hour: '2-digit',
            minute: '2-digit',
            meridiem: false,
            hour12: false
          },
        droppable: true,
        eventResizableFromStart: true,
        eventResizableFromEnd: true,
        eventDurationEditable: true,
        eventRender: function (info) {

            // if (info.view.type === "listMonth") {
            //     return;
            // }

            if (info.view.type != "listMonth") {
            info.el.querySelectorAll('.fc-title')[0].innerHTML = info.el.querySelectorAll('.fc-title')[0];
            }
            let eventEl = info.el.querySelector(".fc-content");
            let eventID = info.event.extendedProps.issueKey;
            if (!eventID || !eventEl)
                return;
            let link = document.createElement("a");
            link.innerHTML = eventID;
            // link.title = "Open in Jira";
            // link.href = "https://jira.dummyurl.com/browse/" + eventID;
            link.classList.add("float-right");
            eventEl.appendChild(link);
        }
    });
    calendar.render();
});
//# sourceURL=pen.js
    </script>
<div id="fullcalendar"></div>
