<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}

  {{ partial "math.html" . }}
</head>
    {{ partial "navbar.html" . }}

<body>

{{ if in .Params.tags  "seminars" }}
{{ else }}
<header class="gssi-background text-white">
    {{ partial "header.html" . }}
</header>
{{end}}
  <main>
<br>
{{ if (in .Params.tags  "a_s_w")  }}
<h4>
<center>
  {{ .Params.datetime }}
</center>
<center>
{{ with .Params.location }}{{ . | safeHTML }}{{ end }}
</center>
</h4>
{{ end }}
{{ if or (in .Params.tags  "course")  (in .Params.tags  "workshop")  }}
{{ if in .Params.begin "TBA" }}
<h4>
<center>
Date: {{ .Params.begin }} - {{ .Params.end }}
</center>
</h4>
{{ else }}
<h4>
<center>
Date: {{ .Params.begin }} 2025 - {{ .Params.end }} 2025
</center>
</h4>
{{ end }}
{{ end }}
{{ if (in .Params.schedule "True") }}
<h4>
<center>
  <a href="/{{ .Params.customlink }}/schedule">Schedule</a>
</center>
</h4>
{{end }}
    {{ block "main" . }}{{ end }}
</main>
<footer>
  {{ partial "footer.html" . }}
</footer>
</body>
</html>
