{{ if in .Params.tags  "seminars" }}
{{ else }}
    <div class="container px-4 text-center">

      <h1>
{{ if page.Title}}
{{ page.Title }}
{{ else }}
{{ site.Title }}
{{ end }}
      </h1>

{{ if .Params.subtitle }}
<h2> {{ .Params.subtitle }} </h2>
{{ end }}

<br>
{{ if or (in .Params.tags  "course")  (in .Params.tags  "workshop")  }}
<h3 id="Date">
{{ if in .Params.begin "TBA" }}
Date: {{ .Params.begin }} <code>&#8212;</code> {{ .Params.end }}
{{ else }}
Date: {{ .Params.begin }} 2025 <code>&mdash;</code> {{ .Params.end }} 2025
{{ end }}
</h3>
{{ end }}


    </div>
<div class="relative">

<img src="/gssigrande_.jpg">
</div>

    {{ end }}
