<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container px-4">
          <a class="navbar-brand" href="/">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item"><a class="nav-link" href="/location/">Location</a></li>
                  <li class="nav-item"><a class="nav-link" href="/register/">Registration</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Workshops
          </a>
          <ul class="dropdown-menu">

{{ range where (sort .Site.Pages "LinkTitle") ".Params.tags" "in" "workshop" }}
<li><a class="dropdown-item" href="{{ .Permalink  }} ">{{ .LinkTitle }}</a></li>
{{ end }}
          </ul>
        </li>

        <li class="nav-item"><a class="nav-link" href="/all_courses/">Courses</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Events
          </a>
          <ul class="dropdown-menu">
<li><a class="dropdown-item" href="/calendar/">Calendar</a></li>
<li><a class="dropdown-item" href="/seminars/">Upcoming Events</a></li>
<li><a class="dropdown-item" href="/past_seminars/">Past Events</a></li>
          </ul>

        </li>

                  <!-- <li class="nav-item"><a class="nav-link" href="/calendar">Calendar</a></li> -->
                  <li class="nav-item"><a class="nav-link" href="/travel/">Travel</a></li>
                  <li class="nav-item"><a class="nav-link" href="/contact/">Contact</a></li>
                  <li class="nav-item justify-content-center">
    <div id="docsearch"></div>
                  </li>
              </ul>

          </div>
      </div>
  </nav>

